.float-right {
    float: right !important;
  }
  
  .mt-1 {
    margin-top: 10px;
  }
  
  .text-right {
    text-align: right;
  }
  
  .float-left {
    float: left;
  }
  
  .search-bar {
    width: 50%;
  }
  